.container{
    background-color: #fff;
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100vw;
    .scroll-wrapper{
        display: flex;
        padding: 30rpx;
        height: 100%;
        box-sizing: border-box;
        flex-direction: column;
        .goods-detail{
            display: flex;
            margin-bottom: 46rpx;
            image{
                width: 160rpx;
                height: 160rpx;
                margin-right: 40rpx;
            }
            .detail-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title{
                    font-size: 32rpx;
                }
                .tip-wrapper{
                    color: #999;
                    font-size: 22rpx;
                    .tip-top{
                        margin-bottom: 6rpx;
                        .disprice{
                            font-size: 30rpx;
                            color: #157658;
                            margin-right: 30rpx;
                        }
                        .price{
                            margin-right: 30rpx;
                            text-decoration: line-through;
                        }
                    }
                    
                    .tip{
                        font-size: 26rpx;
                    }
                }
            }
        }
        .count-wrapper{
            height: 110rpx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .count-title{
                font-size: 24rpx;
                color: #555;
            }
        }
    }
    .command{
        line-height: 100rpx;
        background-color: #333;
        text-align: center;
        font-size: 32rpx;
        color: #fff;
    }
}