@import "../../assets/iconfont/iconfont.wxss";
page{
    background-color: #f5f5f5;
}
.container{
    .img-wrapper{
        swiper{
            height: 680rpx;
            image{
                width: 100%;
            }
        }
    }
    .synopsis-wrapper{
        position: relative;
        margin-bottom: 20rpx;
        background-color: #fff;
        .info-wrapper{
            padding: 24rpx 0 28rpx 30rpx;
            width: 540rpx;
            .title{
                color: #333333;
                font-size: 32rpx;
                margin-bottom: 18rpx;
            }
            .subtitle{
                color: #999999;
                font-size: 28rpx;
                margin-bottom: 34rpx;
            }
            .discount{
                color: #157658;
                font-size: 44rpx;
                margin-right: 30rpx;
            }
            .price{
                font-size: 32rpx;
                color: #999999;
                text-decoration: line-through;
            }
            & > text{
                display: block;
            }
        }
        .operator-wrapper{
            position: absolute;
            top: 38rpx;
            right: 30rpx;
            border-left: 2rpx dotted #DCEBE6;
            .share{
                margin-left: 28rpx;
                button{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    width: 50rpx !important;
                    height: 120rpx !important;
                    background: #DCEBE6;
                    text{
                        color: #157658;
                        font-size: 20rpx;
                    }
                }
            }

        }
    }
    .coupon-wrapper{
        padding: 20rpx 30rpx;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        margin-bottom: 20rpx;
        .coupon-list{
            display: flex;
            .item{
                font-size: 20rpx;
                margin-right: 20rpx;
                color: #157658;
                line-height: 48rpx;
                text-align: center;
                width: 200rpx;
                background-color: #DCEBE6;
            }
        }
        .more{
            font-size: 28rpx;
            color: #333333;
            text{
                &:first-child{
                    margin-right: 20rpx;
                }
            }
        }
    }
    .explain-wrapper{
        padding: 10rpx 10rpx 0 10rpx;
        background-color: #fff;
        .explain-list{
            border: 2rpx dotted #DCEBE6;
            margin-bottom: 10rpx;
            .explain-item{
                margin: 0 30rpx;
                line-height: 78rpx;
                color: #333333;
                font-size: 28rpx;
                border-bottom: 2rpx solid #DCEBE6;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}