.weekly{
    display: flex;
    flex-direction: column;
    image{
        margin-bottom: 28rpx;
        height: 88rpx;
    }
    .list-wrapper{
        display: flex;
        .list{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 60rpx;
            image{
                height: 160rpx;
                width: 160rpx;
                margin-bottom: 14rpx;
            }
            .price{
                font-size: 28rpx;
                
                color: #157658;
            }
            .title{
                font-size: 20rpx;
                color: #999;
                max-width: 160rpx;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-bottom: 10rpx;
            }
        }
    }
}