.picture-grid{
    display: flex;
    justify-content: space-between;
    .flex{
        display: flex;
        &:nth-child(2){
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .left{
        image{
            width: 344rpx;
        }
    }
    .right{
        image{
            width: 400rpx;
        }
    }
}