page{
    background-color: #F5F5F5;
}
.container{
    
    .themeA{
        height: 260rpx;
        image{
            height: 100%;
            width: 100%;
        }
    }
    .bannerB{
        .swiper{
            height: 360rpx;
            image{
                width: 100%;
            }
        }
    }
    .gridC{
        padding: 10rpx;
        margin-bottom: 20rpx;
        background-color: #fff;
    }
    .activityD{
        height: 300rpx;
        margin-bottom: 20rpx;
        image{
            height: 100%;
            width: 100%;
        }
    }
    .themeE{
        padding: 44rpx 30rpx 34rpx;
        background-color: #fff;
    }
}
